/* style.css */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container-fluid {
    padding: 0; /* Pastikan tidak ada padding di container-fluid */
}

img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}


@media (max-width: 576px) {
    .responsive-img {
        height: 200px;
        object-fit: cover;
    }
}